@page "/"
<div>
    <Button Type="@ButtonType.Primary" Danger Size="@ButtonSize.Small" Loading>Primary</Button>
    <Button>Default</Button>
    <Button Type="@ButtonType.Dashed">Dashed</Button>
    <Button Type="@ButtonType.Text">Text</Button>
    <Button Type="@ButtonType.Link" >Link</Button>
</div>

<hr />

<div>
    <RadioGroup @bind-Value="@_size">
        <Radio RadioButton Value="@ButtonSize.Large">Large</Radio>
        <Radio RadioButton Value="@ButtonSize.Default">Default</Radio>
        <Radio RadioButton Value="@ButtonSize.Small">Small</Radio>
    </RadioGroup>
    
    <br />
    <br />
    
    <Button Type="@ButtonType.Primary" Size="@_size">Primary</Button>
    <Button Size="@_size">Default</Button>
    <Button Type="@ButtonType.Dashed" Size="@_size">Dashed</Button>
    
    <br />
    
    <Button Type="@ButtonType.Link" Size="@_size">Link</Button>
    
    <br />
    
    <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Download" Size="@_size" />
    <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Download" Size="@_size" />
    <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Download" Size="@_size" Shape="@ButtonShape.Round" />
    <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Download" Size="@_size" Shape="@ButtonShape.Round" >Download</Button>
    <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Download" Size="@_size">Download</Button>
</div>

<hr />

<div>
    <Button Type="@ButtonType.Primary" Loading>Loading</Button>
    <Button Type="@ButtonType.Primary" Size="@ButtonSize.Small" Loading>Loading</Button>
    <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Poweroff" Loading />
    
    <br />
    
    <Button Type="@ButtonType.Primary"
            Loading="_noIconLoading"
            OnClick="EnterNoIconLoading">
        Click me!
    </Button>
    <Button Type="@ButtonType.Primary"
            Icon="@IconType.Outline.Poweroff"
            Loading="_withIconLoading"
            OnClick="EnterWithIconLoading">
        Click me!
    </Button>
    <Button Type="@ButtonType.Primary"
            Icon="@IconType.Outline.Poweroff"
            Loading="_onlyIconLoading"
            OnClick="EnterOnlyIconLoading" />
</div>

<hr />

<div>
    <Tooltip Title="@IconType.Outline.Search">
        <Button Type="@ButtonType.Primary" Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Search" />
    </Tooltip>
    <Button Type="@ButtonType.Primary" Shape="@ButtonShape.Circle">A</Button>
    <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Search">Search</Button>
    <Tooltip Title="@IconType.Outline.Search">
        <Button Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Search" />
    </Tooltip>
    <Button Icon="@IconType.Outline.Search">Search</Button>
    
    <br />
    
    <Tooltip Title="@IconType.Outline.Search">
        <Button Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Search" />
    </Tooltip>
    <Button Icon="@IconType.Outline.Search">Search</Button>
    <Tooltip Title="@IconType.Outline.Search">
        <Button Type="@ButtonType.Dashed" Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Search" />
    </Tooltip>
    <Button Type="@ButtonType.Dashed" Icon="@IconType.Outline.Search">Search</Button>
</div>


<hr />
<Title Level="1"> hello world</Title>
<hr />

<div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista
        probare, quae sunt a te dicta? Refert tamen, quo modo.
    </p>
    <Divider Dashed />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista
        probare, quae sunt a te dicta? Refert tamen, quo modo.
    </p>
    <Divider Dashed />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista
        probare, quae sunt a te dicta? Refert tamen, quo modo.
    </p>
</div>

<style>
    #components-grid-demo-flex-order [class~='ant-row'] {
        background: rgba(128, 128, 128, 0.08);
    }
</style>

<div>
    <Divider Orientation="left">Normal</Divider>
    <Row>
        <Col Span="6" Order="4">
        1 col-order-4
        </Col>
        <Col Span="6" Order="3">
        2 col-order-3
        </Col>
        <Col Span="6" Order="2">
        3 col-order-2
        </Col>
        <Col Span="6" Order="1">
        4 col-order-1
        </Col>
    </Row>
    <Divider Orientation="left">Responsive</Divider>
    <Row>
        <Col Span="6" Xs="new EmbeddedProperty{ Order= 1 }" Sm="new EmbeddedProperty{ Order= 2 }" Md="new EmbeddedProperty{ Order= 3 }" Lg="new EmbeddedProperty{ Order= 4 }">
        1 col-order-responsive
        </Col>
        <Col Span="6" Xs="new EmbeddedProperty{ Order= 2 }"  Sm="new EmbeddedProperty{ Order= 1 }"  Md="new EmbeddedProperty{ Order= 4 }"  Lg="new EmbeddedProperty{ Order= 3 }" >
        2 col-order-responsive
        </Col>
        <Col Span="6" Xs="new EmbeddedProperty{ Order= 3 }"  Sm="new EmbeddedProperty{ Order= 4 }"  Md="new EmbeddedProperty{ Order= 2 }"  Lg="new EmbeddedProperty{ Order= 1 }" >
        3 col-order-responsive
        </Col>
        <Col Span="6" Xs="new EmbeddedProperty{ Order= 4 }"  Sm="new EmbeddedProperty{ Order= 3 }"  Md="new EmbeddedProperty{ Order= 1 }"  Lg="new EmbeddedProperty{ Order= 2 }" >
        4 col-order-responsive
        </Col>
    </Row>
</div>


@code
{
    string _size = ButtonSize.Large;

    private bool _noIconLoading;
    private bool _withIconLoading;
    private bool _onlyIconLoading;

    private async Task EnterNoIconLoading()
    {
        _noIconLoading = true;
        await Task.Delay(8000);
        _noIconLoading = false;
    }

    private async Task EnterWithIconLoading()
    {
        _withIconLoading = true;
        await Task.Delay(8000);
        _withIconLoading = false;
    }

    private async Task EnterOnlyIconLoading()
    {
        _onlyIconLoading = true;
        await Task.Delay(8000);
        _onlyIconLoading = false;
    }
}